<div id="<%= dom_id product %>">
  <p>
    <strong>Product name:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Product description:</strong>
    <%= product.product_description %>
  </p>

</div>
